<<<<<<< HEAD
.two-columns__main-text {
=======
.two-colums__main-text {
>>>>>>> 695d3631fc07d6b3df938c2af15d8f8ef02aa6be
    width: 80%;
    min-width: 784px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}